.footer {
  margin-top: auto;
  font-family: 'Nunito Sans';
  color: #a3a3a3;
  font-size: 15px;

  padding: 70px 0 50px 0;
  background-color: #141414;
}
.footer__table {
  display: flex;
  position: relative;
  justify-content: flex-start;

  text-align: start;
}

.corp__name {
  color: #dfdfdf;
  font-size: 18px;
  padding-bottom: 15px;
}
.table__adress {
  display: flex;
  flex-direction: column;

  padding-left: 240px;
}
.table__adress a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: 0.5s linear;
}

.table__nav {
  display: flex;
  flex-direction: row;

  padding-left: 140px;
}
.table__nav ul {
  margin: 0;
}
.table__nav ul:first-child {
  padding-left: 0;
}
.table__nav li {
  list-style-type: none;
}
.table__nav a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: 0.5s linear;
}
.nav__social {
  padding-left: 140px;
}
.table__nav a:hover,
.table__adress a:hover {
  color: azure;
  text-decoration: underline;
}
