/* font-family: 'Montserrat';
font-family: 'Nunito Sans';
font-family: 'Work Sans';
 */

@import './css/reset.css';
@import './css/header.css';
@import './css/footer.css';
@import './css/about_title.css';
@import './css/about__stat.css';
@import './css/about_me.css';
@import './css/project.css';
@import './css/media.css';

body {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: #191919;
}

/* Body */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
.container1 {
  width: 100%;
  max-width: 550px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer__table {
    padding-left: 20px;
    padding-right: 15px;
  }
  .table__adress {
    padding-left: 140px;
  }
}

@media (max-width: 1024px) {
  .footer__table {
    justify-content: center;
  }
  .table__adress {
    padding-left: 35px;
  }
  .table__nav {
    padding-left: 70px;
  }
  .nav__social {
    padding-left: 70px;
  }
  .about__title {
    padding: 60px 0;
  }
  .about__statistics {
    padding: 50px 0;
  }
  .me__photo {
    margin-left: 50px;
  }
  .me__biography {
    padding-left: 50px;
    margin-right: 10px;
  }
  .project {
    padding-top: 40px;
  }
  .project__btn1 {
    padding-bottom: 40px;
  }
  .me__signature {
    padding-bottom: 15px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .table__adress {
    padding-left: 15px;
  }
  .table__nav {
    padding-left: 35px;
  }
  .nav__social {
    padding-left: 30px;
  }
  .about__title {
    padding: 40px 0;
  }
  .about__statistics {
    padding: 30px 0;
  }

  .me__photo {
    background-size: 60vh 80%;
  }
  .me__biography {
    padding-top: 50px;
  }
}
@media (max-width: 682px) {
  .footer {
    padding: 15px 0;
  }
  .footer__table {
    flex-direction: column;
    align-items: center;
  }

  .table__nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .table__nav ul li {
    padding-right: 15px;
  }
  .table__corp {
    order: 11;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  .corp__name {
    padding-right: 10px;
  }
  .table__adress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 10;
    padding-top: 15px;
  }
  .table__adress a {
    padding-right: 15px;
  }
  .corp__name {
    display: none;
  }
  .me__photo {
    display: none;
  }
  .me__biography {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header__logo {
    display: none;
  }
  .nav__list {
    padding: 0;
  }
  .nav__item {
    padding-left: 15px;
  }
  .nav__tab {
    justify-content: center;
  }


  .statisics__table {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (max-width: 370px) {
}
