.about__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  

  background: url('../img/about__title.jpg') center no-repeat;
  background-size:cover;

  color: #ffffff;
  padding: 110px 0;

  text-align: center;
}

.about__name {
  font-size: 38px;
  line-height: 1.26;

  padding-bottom: 37px;
}
.about__MeDo {
  font-family: 'Nunito Sans';
  font-size: 18px;
}

