.about__me {
  display: flex;
  position: relative;
  flex-direction: row;
}

.me__photo {
  margin-left: 150px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('../img/me__photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  background-size: 75vh 100%;
}

.me__biography {
  width: 50%;
  padding-top: 100px;
  padding-left: 100px;
  max-width: 600px;
}

.me__infoTitle {
  font-size: 30px;
  color: #171717;

  padding-bottom: 50px;
}
.me__text {
  font-family: 'Nunito Sans';
  font-size: 16px;
  color: #787878;
}
.me__help {
  padding-bottom: 50px;
}
.me__signature {
  padding-bottom: 130px;
}
