.about__statistics {
  background-color: #10c9c3;
  padding: 98px 0;
  color: #ffffff;
}

.statisics__table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.table__cell{
    display: flex;
    flex-direction: row;
    text-align: left;

}
.cell__icon{
  
    padding-right: 30px;
 
}
.material-icons{
    font-size: 48px;
}
.cell__stat{
    font-size: 12px;
    text-transform: uppercase;
    
}
.big_number{
    font-size: 18px;
}